################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

.vs
/Clase1Consola/bin
/Clase1Consola/obj
/Clase1Escritorio/bin
/Clase1Escritorio/obj
/Clase3Escritorio/bin
/Clase3Escritorio/obj
/Clase4Consola/bin
/Clase4Consola/obj
/Clase4Escritorio/bin
/Clase4Escritorio/obj
/Clase5Consola/bin
/Clase5Consola/obj
/Clase6Consola/bin
/Clase6Consola/obj
